@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #25272c;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
.logo-image{
  width: 70px;
  border-radius: 10px;
}

